body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  color: #e6f0f9;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
aside {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e78bd;
  padding: 0.5em;
}
h1 {
  font-size: 2.5em;
  text-align: center;
}
.quiz-container {
  display: grid;
  grid-template-rows: 2fr 8fr;
  background-color: #63a1d9;
  padding: 0.5em;
}
.quiz-progress {
  padding: 0.5em;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.75em;
}
.question-board {
  padding: 1em;
  color: #242424;
  background-color: #e6f0f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5em;
}
.question {
  font-size: 1.5em;
}
.option-container {
  display: grid;
  gap: 1em;
  font-size: 1.25em;
  list-style: upper-alpha;
}
button {
  width: fit-content;
  background: none;
  border: none;
  text-align: left;
  font-size: 1em;
}
button:hover {
  cursor: pointer;
  text-decoration: underline;
}
button:active {
  color: #2e78bd;
  font-weight: bold;
}
